<div class="panel panel-default">
  <div class="panel-heading">
    メッセージ一覧
  </div>
    
  <div class="panel-body">
    <!-- 内容の入力フォームを input から textarea に変えたので、改行に対応 -->
    <% @messages.each do |message| %>
      <div class="row">
        <% tmp_name = message.name %>
        
        <% message.body.each_line do |line| %>
          <div class="col-sm-1">
            <span class="label label-info"><%= tmp_name %></span>
          </div>
          <!--2行目以降はユーザ名を表示しない-->
          <% tmp_name = "" %>
          <div class="col-sm-11">
            <%= line %>
          </div>
        <% end %>
      </div>
      <div class="row">
        <!--編集と削除機能追加-->
        <div class="col-sm-1 col-sm-offset-1">
          <span class="label label-success edit-model">
            <%= link_to "edit" , edit_message_path(message) %>
          </span>
        </div>
        <div class="col-sm-2">
          <span class="label label-danger edit-model">
            <%= link_to "destroy" , message , method: :delete, data: { confirm: '削除してもよろしいですか？' } %>
          </span>
        </div>
      </div>
      <div class="row" style="margin-left: 5px; margin-right: 5px;">
        <hr>
      </div>
    <% end %>
  </div>
</div>

<% #部分テンプレートを読み込んでいる %>
<%= render 'form' %>
