<div class="panel panel-default">
  <div class="panel-heading">
    メッセージ一覧
  </div>
    
  <div class="panel-body">
    <% #内容の入力フォームを input から textarea に変えたので、改行に対応 %>
    <% @messages.each do |message| %>
      <div class="row">
        <% tmp_name = message.name %>
        <% if message.age.present? %>
          <% #年齢情報があれば名前にくっつける %>
          <% tmp_name = tmp_name + ' (' + message.age.to_s + '才)' %>
        <% end %>
        
        <% message.body.each_line do |line| %>
          <div class="col-sm-4 col-md-3 col-lg-2">
            <% unless tmp_name.blank? %>
              <h3><span class="label label-info"><%= tmp_name %></span></h3>
              <% #2行目以降はユーザ名を表示しない %>
              <% tmp_name = "" %>
            <% end %>
          </div>
          
          <div class="col-sm-8 col-md-9 col-lg-10">
            <%= line %>
          </div>
        <% end %>
      </div>
      <div class="row">
        <% #編集と削除機能追加 %>
        <div class="col-sm-2 col-sm-offset-4 col-md-1 col-md-offset-3 col-lg-1 col-lg-offset-2">
          <h4>
            <%= link_to "edit" , edit_message_path(message), class: "btn btn-success" %>
          </h4>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-1">
          <h4>
              <%= link_to "destroy" , message , method: :delete, class: "btn btn-danger", data: { confirm: '削除してもよろしいですか？' } %>
          </h4>
        </div>
      </div>
      <div class="row" style="margin-left: 5px; margin-right: 5px;">
        <hr>
      </div>
    <% end %>
  </div>
</div>

<% #部分テンプレートを読み込んでいる %>
<%= render 'form' %>
